@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

/* :root {
  --text: #f9f9f9;
  --border: #ffa500;
  --light: #012f3c;
  --dark: #160042;
} */

:root {
  --text: #f9f9f9;
  --border: #f86bff;
  --light: #eee;
  --dark: #130431;
  --logHeight: 150px;
  /* --input-bg: #ececec; */
  /* --input-text: #333; */
}

* {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  height: 100vh;
}

#editor-area {
  height: 100%;
  overflow: hidden;
}

.CodeMirror-wrap {
  height: calc(100vh - var(--logHeight));
  width: 100%;
  background: var(--light);
}

#log-display {
  background: var(--dark);
  border-radius: 5px;
  border-top: 4px solid var(--border);
  height: var(--logHeight);
  padding-top: 4px;
  padding-left: 10px;
  font-size: 0.8rem;
  color: #fff;
  overflow-y: scroll;
}

.CodeMirror-vscrollbar,
#log-display::-webkit-scrollbar {
  width: 0px;
}
